* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    background-image: url("pic/black.jpg");
    background-position: center;
    padding: 0px 20px;
}

header {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

header ul {
    background-color:#ffffff;
    display: flex;
    list-style: none;
}

header li {
    margin-right: 3vw;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight:normal;
}

.about-link {
    color: #000;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.about-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #101010;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.about-link:hover::after {
    width: 100%;
    left: 0;
}

.active-link {
    color: #000000;
    font-weight:bolder;
  }
  
#menu-button {
    display: none;
    background-color: #101010;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

#menu-button:focus {
    outline: none;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #101010;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.back-to-top:hover {
    background-color: #4e4e4e;
}

.back-to-top.show {
    opacity: 1;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 20px 50px;
    background-color: #ffffff;
    border-radius: 0px 0px 50px 50px ;
}

.banner-text {
    flex: 1;
    padding-left: 2rem;
}

.banner h1 {
    font-size:44px;
    color: #101010;
}

.banner p {
    font-size: 18px;
    color: #999;
    margin-top: 20px;
}

.banner-image {
    flex: 1;
    text-align: center;
    margin: 0;
}

.banner-image img {
    max-width: 70%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 100px;
    gap: 50px;
}

.browser-window {
    width: 47%;
    height: auto;
    background: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.browser-window:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.title-bar {
    display: flex;
    align-items: center;
    height: 30px;
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 0 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    border: 1px solid #000;
}

.buttons .close {
    background: #ffffff;
}

.buttons .minimize {
    background: #ffffff;
}

.buttons .maximize {
    background: #ffffff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.slideshow-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    object-position:bottom;
}

.slide-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(183, 183, 183, 0.8); /* 背景半透明黑色 */
    color: rgb(255, 255, 255); /* 文字顏色 */
    text-align: center; /* 文字置中 */
    padding: 10px; /* 內間距 */
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px ;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    z-index: 2;
}

.close-button:hover,
.close-button:focus {
    color: #5e503f;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    position: relative;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carousel img.landscape {
    max-width: 100%;
    max-height: none;
}

.carousel img.portrait {
    max-width: none;
    max-height: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.carousel-button:hover{
    background-color: rgba(0, 0, 0, 1);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        height: 80%;
    }

    header {
        height: 40px; /* 调整头部的高度 */
    }

    header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 45px;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        text-align: right;
        padding: 0;
        transition: max-height 0.5s ease-out; /* 添加过渡效果 */
        overflow: hidden; /* 隐藏超出部分 */
        max-height: 0; /* 初始最大高度 */
    }
    
    header ul.show {
        display: flex;
        max-height: 300px; /* 展开后的最大高度 */
    }
    
    header li {
        margin: 10px 0;
        padding-left: 15px;
        font-size: 12px;
        text-align: right;
    }
    
    /* 菜单按钮的样式 */
    #menu-button {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        border: none;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        position: relative;
        border-radius: 100px;
    }

    /* 菜单按钮的三条横线 */
    #menu-button .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: rgb(0, 0, 0);
        transition: all 0.3s;
        border-radius: 100px;
    }

    /* 菜单按钮变成叉的动画效果 */
    #menu-button.change .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        border-radius: 100px;
    }

    #menu-button.change .bar2 {
        opacity: 0;
        border-radius: 100px;
    }

    #menu-button.change .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
        border-radius: 100px;
    }

    .back-to-top {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        align-items: center; /* 確保子項目靠左對齊 */
    }
    
    .banner-text, .banner-image {
        padding: 0;
        margin-bottom: 20px;
    }
    
    .banner-image {
        width: 80%; /* 在小屏幕上佔據全寬 */
    }
    
    .banner h1 {
        font-size: 28px;
    }
    
    .banner p {
        font-size: 16px;
    }

    .container {
        padding: 0px 20px 20px 20px;
        margin-bottom: 30px;
    }

    .browser-window {
        width: 100%;
    }

    .modal-content {
        width: 90vw;
        height: 50vh;
    }

    @media (min-aspect-ratio: 16/9) { 
        .modal-content {
            height: 40vh; 
        }
    }

    @media (max-aspect-ratio: 9/16) { 
        .modal-content {
            height: 60vh;
        }
    }

    .back-to-top:hover {
        background-color: #101010;
    }
}
