* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

header {
    background-color: #ad630f;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 2vw;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin-right: 3vw;
}

header a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header a img {
    margin-right: 8px;
}

header a:hover {
    text-decoration:wavy;
    color: #ffdaa1;
}

#menu-button {
    display: none;
    background-color: #ad630f;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

#menu-button:focus {
    outline: none;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3vw;
    background-color: #ad630f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.left-block {
    flex: 0 0 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.right-block {
    flex: 1;
    padding-left: 5vw;
}

.profile-pic {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.top-text h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: white;
}

.bottom-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    color: white;
}

.additional-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5vw;
    padding-top: 2vw;
    background-color: #f0f0f0;
}

.additional-section .left-block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.vertical-block {
    padding: 10px;
    background-color: #ad630f;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.text-content p, .text-content li {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #ad630f;
    text-align: center;
}

.text-content p img, .text-content li img {
    margin-right: 8px;
}

.text-content li {
    justify-content: left;
    text-align: left;
}

.additional-section .right-block {
    flex: 1;
    margin-left: 10px;
}

.personality-content ul {
    display: flex;
    flex-direction: column;
}

.personality-content .left {
    flex: 1;
}
.personality-content .right {
    flex: 0.5;
}
.red-block {
    background-color: #ad630f;
    color: white;
    padding: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.rectangles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.rectangle-wrapper {
    width: 100%;
}

.rectangle-wrapper h3 {
    margin: 0;
    font-size: 20px;
    color: #ad630f;
    padding-bottom: 10px;
}

.rectangle {
    background-color: #ffffff;
    color: #ad630f;
    border: 1px solid #ad630f;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.rectangle h5 {
    margin-bottom: 10px;
    font-size: 18px;
}

.rectangle p {
    font-size: 16px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ad630f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.back-to-top:hover {
    background-color: #8b4a24;
}

.back-to-top.show {
    opacity: 1;
}

@media (max-width: 768px) {
    header {
        height: 40px; /* 调整头部的高度 */
    }

    header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        text-align: right;
        padding: 0;
        transition: max-height 0.5s ease-out; /* 添加过渡效果 */
        overflow: hidden; /* 隐藏超出部分 */
        max-height: 0; /* 初始最大高度 */
    }
    
    header ul.show {
        display: flex;
        max-height: 300px; /* 展开后的最大高度 */
    }
    
    header li {
        margin: 10px 0;
        padding-left: 15px;
        font-size: 12px;
        text-align: right;
    }
    
    /* 菜单按钮的样式 */
    #menu-button {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        position: relative;
        border-radius: 100px;
    }

    /* 菜单按钮的三条横线 */
    #menu-button .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white;
        transition: all 0.3s;
        border-radius: 100px;
    }

    /* 菜单按钮变成叉的动画效果 */
    #menu-button.change .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        border-radius: 100px;
    }

    #menu-button.change .bar2 {
        opacity: 0;
        border-radius: 100px;
    }

    #menu-button.change .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
        border-radius: 100px;
    }
    
    .info-section {
        flex-direction: column; /* 垂直排列 */
        align-items: center; /* 居中对齐 */
    }

    .left-block, .right-block {
        flex: 1; /* 垂直方向上均等分配空间 */
        max-width: 100%; /* 最大宽度为 100% */
        text-align: center; /* 中心对齐文本 */
        padding-left: 0;
    }

    .profile-pic {
        max-width: 40%; /* 适应手机屏幕 */
    }

    .top-text h2 {
        font-size: 30px; /* 缩小字体大小 */
        margin-bottom: 0px;
    }

    .bottom-text {
        overflow: hidden; /* 隐藏超出部分 */
        max-height: 0; /* 初始高度设置为 0，隐藏内容 */
        transition: max-height 0.5s ease-out; /* 添加过渡效果 */
    }
    .toggle-button::before {
        content: "👆"; /* 向下箭头符号 */
    }
    tom-text.expanded {
        max-height: 500px; 
    }
    .bottom-text.expanded p {
        font-size: 14px !important; /* 强制应用字体大小 */
        text-align: left;
    }

    .toggle-button {
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        background-color: #ffdaa1;
        border-radius: 50%;
        color: white;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin: 10px 0; 
        position: relative;
    }
    
    .toggle-button:focus {
        outline: none;
    }

    .bottom-text-container {
        margin-top: 10px; /* 确保按钮在 top-text 下方 */
    }

    .red-block {
        font-size: 16px; /* 调整字体大小 */
        padding: 10px;
        
    }

    .rectangle {
        padding: 15px;
    }

    .rectangle h5 {
        font-size: 16px;
    }

    .rectangle p {
        font-size: 12px;
    }

    .back-to-top {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .additional-section {
        display: flex;
        flex-direction: column;
        align-items: center; /* 垂直居中对齐所有子元素 */
    }

    .left-block, .right-block {
        width: 100%; /* 使每个块在小屏幕上占据整个宽度 */
    }
    .left-block{
        margin-top: 20px;
    }
    h3{
        font-size: 16px;
    }
    .rectangle-wrapper h3{
        text-align: left;
        font-size: 16px;
    }
    .text-content{
    font-size: 14px;
    }
}

/* 非手机响应式下的样式 */
@media (min-width: 769px) {
    .toggle-button {
        display: none; /* 隐藏展开按钮 */
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .info-section {
        padding: 4vw;
    }

    .left-block, .right-block {
        max-width: 90%;
    }

    .profile-pic {
        max-width: 70%;
    }

    .top-text h2 {
        font-size: 42px;
    }

    .bottom-text p {
        font-size: 17px;
    }

    .text-content p, .text-content li {
        margin: 15px;
    }

    .red-block {
        font-size: 22px;
        padding: 12px;
    }

    .rectangle {
        padding: 18px;
    }

    .rectangle h5 {
        font-size: 17px;
    }

    .rectangle p {
        font-size: 15px;
    }

    .back-to-top {
        width: 45px;
        height: 45px;
        font-size: 22px;
    }
}
