* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #f0f0f0;
}

header {
    background-color: #a9927d;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 2vw;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin-right: 3vw;
}

header a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header a img {
    margin-right: 8px;
}

header a:hover {
    text-decoration:wavy;
    color: #5e503f;
}

#menu-button {
    display: none;
    background-color: #5e503f;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

#menu-button:focus {
    outline: none;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5e503f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.back-to-top:hover {
    background-color: #a9927d;
}

.back-to-top.show {
    opacity: 1;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 20px 50px;
    background-color: #ffffff;
}

.banner-text {
    flex: 1;
    padding-left: 2rem;
}

.banner h1 {
    font-size:44px;
    color: #333;
}

.banner p {
    font-size: 18px;
    color: #999;
    margin-top: 20px;
}

.banner-image {
    flex: 1;
    text-align: center;
    margin: 0;
}

.banner-image img {
    max-width: 70%;
    height: auto;
}
.case-studies {
    display: flex;
    flex-wrap: wrap; /* 允許換行 */
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.case {
    flex: 1 1 300px; /* 使元素具有最小寬度並能擴展 */
    max-width: 300px; /* 設定最大寬度 */
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px; /* 調整邊距 */
    position: relative;
}

.image-container {
    width: 100%;
    padding-top: 100%; 
    position: relative; 
    overflow: hidden;
    border-radius: 10px;
}

.image-container img {
    background-color: #dad8d9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; /* 保持圖片比例 */
    
}

.case:hover .image-container img {
    transform: scale(1.05);
    transition: transform 0.5s; /* 添加圖片的過渡效果 */
}

.case h2 {
    padding: 20px;
    font-size: 1.5rem;
    color: #333;
}

.case p {
    padding: 20px;
    font-size: 1rem;
    color: #333;
}

.case a {
    display: block;
    padding: 1rem;
    text-align: right;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

.case:hover {
    border: 1px solid;
    border-color: #d3d3d3;
}

@media (max-width: 768px) {
    header {
        height: 40px; /* 调整头部的高度 */
    }

    header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        text-align: right;
        padding: 0;
        transition: max-height 0.5s ease-out; /* 添加过渡效果 */
        overflow: hidden; /* 隐藏超出部分 */
        max-height: 0; /* 初始最大高度 */
    }
    
    header ul.show {
        display: flex;
        max-height: 300px; /* 展开后的最大高度 */
    }
    
    header li {
        margin: 10px 0;
        padding-left: 15px;
        font-size: 12px;
        text-align: right;
    }
    
    /* 菜单按钮的样式 */
    #menu-button {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        position: relative;
        border-radius: 100px;
    }

    /* 菜单按钮的三条横线 */
    #menu-button .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white;
        transition: all 0.3s;
        border-radius: 100px;
    }

    /* 菜单按钮变成叉的动画效果 */
    #menu-button.change .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        border-radius: 100px;
    }

    #menu-button.change .bar2 {
        opacity: 0;
        border-radius: 100px;
    }

    #menu-button.change .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
        border-radius: 100px;
    }
    .back-to-top {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .banner {
        flex-direction: column;
        padding: 20px;
        text-align: left;
    }
    .banner-image {
        display: none;
    }

    .banner-text {
        padding: 0;
        margin-bottom : 20px;
    }

    .case-studies {
        flex-direction: column;
        align-items: center;
    }

    .case {
        flex: 1 1 100%;
        max-width: 100%;
        margin: 20px;
    }

    .case p {
        padding: 20px 20px 0 20px;
    }

    .case a {
        padding: 0 20px 20px 20px;
    }
}
    @media (min-width: 769px) {
        .toggle-button {
            display: none; /* 隐藏展开按钮 */
        }
    }